@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
:root{
    --darkGreen: #94B49F;
    --green: #CEE5D0;
    --beige: #FCF8E8;
    --orange: #ECB390;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body{font-family: 'Source Sans Pro', sans-serif;}
.container{
    width: 95%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif; 
    margin: 0;
}
img{width: 100%;}
a{text-decoration: none;}