.form-contactame h3{
    padding-bottom: 20px;
    color: #D6CDA4;
    text-align: center;
    font-size: 30px;
}
.form-contactame{
    background-color: #647E68;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.campo{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.campo input, .campo textarea{
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #EB4747;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
}
.error p{margin: 0;}
@media (min-width: 768px) {
    .contactame{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-contactame{
        width: 400px;
    }
}
.btn-principal:hover{
    border: solid 3px #D6CDA4;
    background-color: #D6CDA4;
    color: #647E68;
    transition: ease-in 0.3s;
}