.sobreNosotros-heroe{
    background-image: url(../../img/sobreNosotros.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media  (min-width: 1200px){
    .sobreNosotros-heroe{margin-bottom: 0;}
}
@media (min-width: 1200px) {
    .sobreNosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}